<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest Compiled and minified CSS-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>


    <title>Title</title>
</head>
<body>
    <h1 th:text="'My Recipes from Thymeleaf!'"> My Recipes</h1>
    <div class="table-responsive">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Difficulty</th>
                    <th>Directions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="recipe: ${recipes}">
                    <td th:text="${recipe.getId()}"></td>
                    <td th:text="${recipe.getDescription()}"></td>
                    <td th:text="${recipe.getDifficulty()}"></td>
                    <td th:text="${recipe.getDirections()}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</body>
</html>